<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hommy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class='ion-padding'>
  <div class='republic'>
    <img class='republic-img' src="../../assets/konodioda.jpg">
    <div class='republic-fields'>
      <p>Nome: name</p>
      <p>Endereço: address</p>
      <p>Bairro: district</p>
      <p>Cidade: city</p>
      <p>Descrição: description</p>
    </div>
  </div>
  <form *ngIf='!editMode'(ngSubmit)="sendComment(commentForm)" [formGroup]="commentForm">
    <h2>Faça um comentário</h2>
    <ion-textarea formControlName="text" class="comentario"></ion-textarea>
    <div class="botao">
      <ion-button [disabled]="!commentForm.valid" type='submit'>Comentar</ion-button>
    </div>
  </form>
  <form *ngIf='editMode' (ngSubmit)="sendEditComment(editCommentForm)" [formGroup]="editCommentForm">
    <h2>Edite seu comentario</h2>
    <ion-textarea formControlName="text" class="comentario"></ion-textarea>
    <div class="botao">
      <ion-button [disabled]="editCommentForm.invalid" type='submit'>Editar</ion-button>
    </div>
  </form>
  <h2>Comentários</h2>
  <app-comentario (trashClicked)='deleteComment($event)' (editClicked)='toggleEdit($event)' [comentario]='comment' *ngFor='let comment of comments'></app-comentario>
</ion-content>
